<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <div class="modal__form">
            <form class="contact-form" action="mail.php" method="POST">
                <div class="form__group form__group--md">
                    <input required class="form__control" type="text" name="user_name" placeholder="Ваше имя">
                    <span class="form__line"></span>
                </div>
    
                <div class="form__group form__group--md">
                    <input required class="form__control" type="email" name="user_email" placeholder="Ваш e-mail">
                    <span class="form__line"></span>
                </div>
            
                <div class="form__group form__group--md">
                    <textarea required class="form__control form__control--textarea" data-autoresize name="user_massage"  placeholder="Ваше сообщение"></textarea>
                </div>
            
                <div class="form__footer">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </form>
        </div>


        <ul class="modal__footer">
           <li>e-mail: <a href="mailto:frontendsunfish@gmail.com">frontendsunfish@gmail.com</a></li>
           <li>тел: <a href="tel:+79991570229">+7-999-157-02-29</a></li>
        </ul>
    </div> <!--End modal__content-->
</div><!--End modal-->
