<div class="modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <ul class="social">
            <li class="social__component">
                <a href="#" class="social__links">
                    <img src="assets/images/inst.svg" alt="instagram">
                </a>
            </li>

            <li class="social__component">
                <a href="#" class="social__links">
                    <img src="assets/images/inst.svg" alt="instagram">
                </a>
            </li>

            <li class="social__component">
                <a href="#" class="social__links">
                    <img src="assets/images/inst.svg" alt="instagram">
                </a>
            </li>
        </ul>
    </div> <!--End modal__content-->
</div><!--End modal-->