<div class="modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <ul class="social">
            <li class="social__component"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li class="social__component"><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
            <li class="social__component"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="social__component"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div> <!--End modal__content-->
</div><!--End modal-->